<app-navbar></app-navbar>

<h1>About Our Team</h1>

<p class="p">Hour no it park. Eat welcomed any husbands moderate. Led was misery played waiting alomst cousin living. Of intention contained by middleton am.</p>

<section class="container-fluid mt-4">
  <div class="row">
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="http://trophy01.np.community.playstation.net/trophy/np/NPWR15324_00_00EECBE1F82C7F6C3118AA1E8958C780BBAFBF8324/9E1ADDB5D64D199275A868EA7548BF70F2B42368.PNG" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
     </div>
     <div class="col">
        <div class="card">
            <img class="card-img-top" src="http://trophy01.np.community.playstation.net/trophy/np/NPWR15324_00_00EECBE1F82C7F6C3118AA1E8958C780BBAFBF8324/9E1ADDB5D64D199275A868EA7548BF70F2B42368.PNG" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
     </div>
     <div class="col">
        <div class="card">
            <img class="card-img-top" src="http://trophy01.np.community.playstation.net/trophy/np/NPWR15324_00_00EECBE1F82C7F6C3118AA1E8958C780BBAFBF8324/9E1ADDB5D64D199275A868EA7548BF70F2B42368.PNG" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
     </div>
     <div class="col">
        <div class="card">
            <img class="card-img-top" src="http://trophy01.np.community.playstation.net/trophy/np/NPWR15324_00_00EECBE1F82C7F6C3118AA1E8958C780BBAFBF8324/9E1ADDB5D64D199275A868EA7548BF70F2B42368.PNG" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
     </div>
  </div>
</section>


